In [252]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])


school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [272]:
school_count = len(school_data)

student_count = len(school_data_complete)

total_budget = school_data["budget"].sum()

average_math_score = renamed_df["Average Math Score"].mean()

average_reading_score = renamed_df["Average Reading Score"].mean()

total_passing_math_df = renamed_df.loc[renamed_df["Average Math Score"]>= 70]
total_passing_math = len(total_passing_math_df)

percent_passing_math = total_passing_math / total_students * 100

total_passing_reading_df = renamed_df.loc[renamed_df["Average Reading Score"]>= 70]
total_passing_reading = len(total_passing_reading_df)

percent_passing_reading = total_passing_reading / total_students * 100

# total_passing = renamed_df.loc[renamed_df["% Overall Passing"] >= 70, [
#     "Average Math Score", "% Overall Passing", "Average Reading Score"]]
# total_passing()

passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]

passing_math_reading_count

total_passing = passing_math_reading_count / student_count * 100

total_passing


# school_count = school_data_complete['school_name'].unique()
# school_count = len(school_count)
# school_count


school_summary = pd.DataFrame({
    
                                "Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [percent_passing_math],
                                "% Passing Reading": [percent_passing_reading],
                                "% Overall Passing": [total_passing]
    
                              })
school_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [267]:
# read_math_per = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

# total_passing = read_math_per / student_count * 100

# passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]

# passing_math_reading_count

# total_passing = passing_math_reading_count / student_count * 100

# total_passing

65.17232575950983

In [ ]:
# school_data_completetotal_passing = renamed_df.loc[renamed_df["Average Math Score"]>= 70] & renamed_df.loc[renamed_df["Average Reading Score"]>= 70]
# total_passing =

In [ ]:
#get rid of extra columns

# reduced_df = school_data_complete [["School ID", "Student ID","budget","math_score","reading_score",]]


# reduced_df

In [ ]:
# rename headers

# renamed_df = reduced_df.rename(columns={"School ID": "Total Schools",
#                                        "Student ID": "Total Students", 
#                                        "budget": "Total Budget",
#                                        "math_score": "Average Math Score",
#                                        "reading_score": "Average Reading Score",})

# renamed_df.head()

In [ ]:
# school_data_complete.to_csv("Output/schools_complete.csv", encoding="utf-8", index=False, header=True)
# #

In [ ]:
# school_count = len(renamed_df["Total Schools"].unique())
# school_count

In [ ]:
# total_students = len(renamed_df)
# total_students

In [ ]:
# total_budget = school_data["budget"].sum()
# total_budget

In [ ]:
# average_math_score = renamed_df["Average Math Score"].mean()
# average_math_score

In [ ]:
# average_reading_score = renamed_df["Average Reading Score"].mean()
# average_reading_score

In [ ]:
# total_passing_math_df = renamed_df.loc[renamed_df["Average Math Score"]>= 70]
# total_passing_math = len(total_passing_math_df)

In [ ]:
# total_passing_math

In [ ]:
# percent_passing_math = total_passing_math / total_students * 100
# percent_passing_math

In [ ]:
# total_passing_reading_df = renamed_df.loc[renamed_df["Average Reading Score"]>= 70]
# total_passing_reading = len(total_passing_reading_df)

In [ ]:
# total_passing_reading

In [ ]:
# percent_passing_reading = total_passing_reading / total_students * 100
# percent_passing_reading